.mfield {
  width: 32px;
  height: 32px;
  margin: 1px;
  background-color: #6699FF;
  float: left;
  font-size: 16pt;
  text-align: center;
  transition: background-color 0.3s ease;
}
.mfield.mopen {
  background-color: #D6E0FF;
}
.mfield.m1 {
  background: url(../images/minesprites.png) 0 0;
  background-size: cover;
}
.mfield.m2 {
  background: url(../images/minesprites.png) -32px 0;
  background-size: cover;
}
.mfield.m3 {
  background: url(../images/minesprites.png) -64px 0;
  background-size: cover;
}
.mfield.m4 {
  background: url(../images/minesprites.png) -96px 0;
  background-size: cover;
}
.mfield.m5 {
  background: url(../images/minesprites.png) -128px 0;
  background-size: cover;
}
.mfield.m6 {
  background: url(../images/minesprites.png) -160px 0;
  background-size: cover;
}
.mfield.m7 {
  background: url(../images/minesprites.png) -192px 0;
  background-size: cover;
}
.mfield.m8 {
  background: url(../images/minesprites.png) -224px 0;
  background-size: cover;
}
.mfield.mmine {
  background: url(../images/minesprites.png) -256px 0;
  background-size: cover;
}
.mfield.mflag {
  background: url(../images/minesprites.png) -288px 0;
  background-size: cover;
}
